//Colours
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;
$color-black: #000;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//Font
$default-font-size: 1.6rem;